/* .shape1 {
    display: inline-block;
    padding: 5px;
    border: 5px solid red;
    background-color: rgb(218, 211, 211);
    outline: 5px solid black;
    margin: 10px;
}

.shape2 {
    display: inline-block;
    padding: 5px;
    border-color: blue green;
    border-style: solid;
    border-width: 5px;
    background-color: rgb(218, 211, 211);
    outline: 5px solid black;
    margin: 10px;
}

.shape3 {
    display: inline-block;
    padding: 5px;
    border-color: red green blue yellow;
    border-style: dashed;
    border-width: 5px;
    background-color: rgb(218, 211, 211);
    outline: 5px solid black;
    margin: 10px;
} */

/* div {
    width: 400px;
    background-color: rgb(232, 235, 238);
}

.element-element-1 {
    border-width: 0 0 0 5px;
    border-color: white white white red;
    border-style: solid;
    padding: 10px;
    margin: 5px;
    outline: 5px solid rgb(236, 235, 235);
}

.element-element-2 {
    visibility: hidden;
    border-width: 0 0 0 5px;
    border-color: white white white green;
    border-style: solid;
    padding: 10px;
    margin: 5px;
    outline: 5px solid rgb(236, 235, 235)
}

.element-element-3 {
    border-width: 0 0 0 5px;
    border-color: white white white green;
    border-style: solid;
    padding: 10px;
    margin: 5px;
    outline: 5px solid rgb(236, 235, 235);
} */
/* p,
div.title {
    color: green;
}

div div span.title {
    color: red;
}

span.title {
    color: blue;
} */
/* div {
    padding: 10px;
    background-color: brown;
    max-width: 400px;
    overflow-y: hidden;
    max-height: 4000px;
    margin: 10px;
    width: fit-content
} */

/* .pord {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.205);
    background-position: 20px 80px;
    margin: 100px 30px 30px 660px;
    width: 400px;
    height: 500px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.205);
    background-position: 40px 80px;
    margin: 100px 30px 30px 740px;
    background-color: rgb(255 255 255 / 28%);
}

body {
    background-image: url(../imgs/dqdr6fno5h8b1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../imgs/dqdr6fno5h8b1.jpg);
    background-attachment: scroll;
    background-size: 1950px 965px;
    background-repeat: no-repeat;

}

h2 {
    color: white;
    margin: 20px;
}

label,
a,
.email {
    color: white;
    font-family: system-ui;
    font-size: small;
}

input {
    background-color: rgba(240, 248, 255, 0);
    border-style: solid;
    border-color: #fffdfd00 #f1eded08 aliceblue;
    width: 350px;
    border-width: 0px 0px 1px;
    margin-bottom: 15px;
    font-family: system-ui;
    font-size: small;
    COLOR: aliceblue;
    outline: none;
}

.sub {
    background-color: aliceblue;
    border-width: 5px 2px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 4px;
    width: 353px;
    margin: 30px 0 0 0;
    font: -webkit-mini-control;
    color: black;
}

form {
    margin: 20px;
    color: aliceblue;
}

.check {
    width: 12px;
    display: inline-block;
}

.pom {
    display: inline;
    margin: 0 0 0 -4px;
}

a {
    margin: 0 0 0 148px;
} */
/* div {
    text-shadow: 1px 1px 0px rgb(201, 52, 214),
        2px 2px 0px rgb(30, 155, 238),
        3px 3px 0px rgb(125, 46, 172);
    text-transform: capitalize;
} */

/* .one {
    text-transform: uppercase;
    font-family: system-ui;
}

.two {
    text-transform: capitalize;
    font-family: system-ui;
}

.three {
    font-family: system-ui;
} */


/* div {
    background-color: #eee;
    position: relative;
    left: calc((100% - 400px) / 2);
    width: 400px;
    text-align: center;
    padding: 15px;
} */

/* 
div::first-letter {
    display: inline-block;
    background-color: red;
    position: absolute;
    left: -5px;

} */
/* p {
    counter-increment: name;
    background-color: #eee;
    position: relative;
    left: calc((100% - 400px) / 2);
    width: 600px;
    
    padding: 30px;
    border-right: 5px solid #ff0050;
}

p::before {
    content: counter(name);
    position: absolute;
    left: -74px;
    top: 1px;
    background-color: #eee;
    padding: 29px;
    width: 23px;
    text-align: center;
    background-color: #ff001ab0;
    
    color: white;
    font-weight: ;
} */

/* p::after {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent red transparent transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    left: -25px;
} */
/* div {
    counter-increment: name;
    position: relative;
    float: left;
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #eee;
    box-shadow: 8px 9px 0px -3px #0079ffa8, -10px -10px 0px -3px #ff0101;
    border: 2px solid black;
}

div::before {
    content: "Element";
    position: absolute;
    top: 42%;
    left: 25%;
}

div::after {
    content: counter(name);
    position: absolute;
    top: -12%;
    left: 40%;
    background-color: black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
} */
/* div {
    width: 100px;
    height: 100px;
    background-color: #eee;
    position: absolute;
    top: calc((100% - 100px) / 2);
    left: calc((100% - 100px) / 2);
    border-top-left-radius: 10px 20px;
    border-top-right-radius: 40px 43px;
    border-bottom-left-radius: 40px 43px;
    border-bottom-right-radius: 10px 20px;
    box-shadow: 0px 0px 11px 3px #494949db inset;


} */
/* .parent {
    width: 550px;
    display: flex;
    position: relative;
    left: calc((100% - 550px) /2);
    box-sizing: border-box;
    text-transform: capitalize;
}

.parent::before {
    content: "";
    width: 1px;
    height: 250px;
    background-color: rgb(0 147 255 / 64%);
    position: absolute;
    left: calc((100% - 1px) / 2);
    top: 20px;
}

.parent::after {
    content: "or";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(50 168 255);
    position: absolute;
    left: calc((100% - 25px) / 2);
    top: 137px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: none;
}


.son {

    background-color: #eee;
    margin: 20px;
    width: 300px;
    height: 250px;
    text-align: center;
    position: relative;
}

.one {
    width: 193px;
    background-color: rgb(0 147 255 / 64%);
    color: white;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 16px;
}

.two {
    width: 180px;
    height: 180px;
    background-color: #ddddddb0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 30px;
    position: absolute;
    top: 60px;
    left: 25px
} */

/* 
.parent {
    width: 500px;
    height: 250px;
    background-color: #eee;
    text-align: center;
    padding-top: 20px;
    margin-top: 40px;
    transition: margin-top 0.5s;
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
    position: relative;
    overflow: hidden;
}



.parent:hover {
    margin-top: 0;

}

.parent:hover .son {
    transform: translatey(20px);
    -webkit-transform: translatey(40px);
    -moz-transform: translatey(200px);
    -ms-transform: translatey(200px);
    -o-transform: translatey(200px);
}

.son {
    background-color: #d1d1d1;
    width: 420px;
    margin-left: 25px;
    margin-top: 20px;
    padding: 15px;
    transition: transform 0.5s 0.5s ease;
}
 */

/* 
:root {
    --mainColor: #009688;
    --mainPadding: 10px;
} */

/* 
flex
.page {
    display: flex;
    background-color: #eee;
    flex-wrap: wrap;
    height: 100%;

}

.page div {
    display: flex;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;

}

.logo {
    align-self: center;
    display: flex;
    justify-content: center;
    background-color: #ddd;
    width: 9%;
    margin-left: 1%;
    height: 60%;
    align-items: center
}

.links {
    width: 87%;
    list-style: none;
    display: flex;
    background-color: #ddd;
    justify-content: end;
    margin-right: 1%;
    height: 60%;
    align-items: center;
    margin-left: 1%;
}

li {
    margin-right: 1%;
}

.main-area {
    width: 100%;
    display: flex;
    align-items: center;
}

.content {
    background-color: #ddd;
    width: 65%;
    margin-left: 1%;
    height: 495px;
    padding: 12px;
}

.sidebar {
    background-color: #ddd;
    width: 27%;
    margin-left: 1%;
    height: 499px;
    padding: 10px;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.copyright {
    align-self: center;
    display: flex;
    justify-content: center;
    background-color: #ddd;
    margin-left: 1%;
    align-items: end;
    width: 19%;
    
    flex-basis: 19%;
    height: 87%;
    margin-top: 5px;
    align-items: center;
}

.design {
    padding: 6px;
    background-color: #ddd;
    justify-content: end;
    align-items: center;
    align-self: end;
    width: 78%;
    display: flex;
    padding-left: 7px;
    height: 60%;
    flex-basis: 77%;
    margin-top: 10px;
} */
/* 
.pos {
    padding: 10px;
    background-color: #ddd;
    border-right: 3px solid rgb(112 0 255 / 69%);
    border-left: 3px solid rgb(255 0 0 / 67%);
    width: 200px;
    text-align: center;
    position: relative;

}

.pos::first-letter {
    color: rgb(255 0 0 / 67%);
}

.pos::before {
    content: "";
    background-image: linear-gradient(to right, rgb(255 0 0 / 67%), rgb(255 0 0 / 67%) 20%, rgb(0 170 255) 20%, rgb(0 170 255) 40%, rgb(63 195 129) 40%, rgb(63 195 129) 60%, rgb(235 0 38 / 80%) 60%, rgb(235 0 38 / 80%) 80%, rgb(112 0 255 / 69%) 80%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
}

.pos::after {
    content: "";
    background-image: linear-gradient(to right, rgb(255 0 0 / 67%), rgb(255 0 0 / 67%) 20%, rgb(0 170 255) 20%, rgb(0 170 255) 40%, rgb(63 195 129) 40%, rgb(63 195 129) 60%, rgb(235 0 38 / 80%) 60%, rgb(235 0 38 / 80%) 80%, rgb(112 0 255 / 69%) 80%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
}

input {
    border: none;
    outline: none;
    background-color: #eee;
    width: 600px;
    padding: 5px;
    margin-top: 5px;
    position: relative;
}

input::before {
    content: "";
    background-image: linear-gradient(to right, rgb(255 0 0 / 67%), rgb(255 0 0 / 67%) 50%, rgb(63 195 129) 50%, rgb(63 195 129) 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
}

.parent div {
    border: none;
    outline: none;
    background-color: #eee;
    width: 600px;
    padding: 5px;
    margin-top: 5px;
    position: relative;
}

.parent div::after {
    content: "";
    background-image: linear-gradient(to right, rgb(255 0 0 / 67%), rgb(255 0 0 / 67%) 50%, rgb(63 195 129) 50%, rgb(63 195 129) 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
}

.test- {
    color: rgba(0, 0, 0, 0.274);
} */
/* 
body {
    margin: 0;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: fit-content;
    height: 100%;
    display: grid;
    grid-template-columns: 21% 21% 21% 21%;
    grid-template-rows: 1fr 1fr 1fr 20%;
    grid-template-areas: "one one two three "
        "four five five three"
        "four six six three"
        "seven eight nine ten";
    position: relative;
    left: calc((100% - 80%) /2);
    justify-content: center;
    column-gap: .7%;
    row-gap: .7%;
}

.grid div {}

.one {
    grid-area: one;
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid red;
}

.one::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 60%;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    -ms-border-radius: 60%;
    -o-border-radius: 60%;
}

.two {
    grid-area: two;
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid red;
}

.three {
    grid-area: three;
    background-color: black;
    color: white;
    padding: 20px;
    border-bottom: 2px solid red;
}

.four {
    grid-area: four;
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid red;
}

.five {
    grid-area: five;
    background-color: black;
    color: white;
    padding: 20px;
    border-bottom: 2px solid red;
}

.six {
    grid-area: six;
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid red;
}

.seven {
    grid-area: seven;
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid red;
}

.eight {
    grid-area: eight;
    background-color: black;
    color: white;
    padding: 20px;
    border-bottom: 2px solid red;
}

.nine {
    grid-area: nine;
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid red;
}

.ten {
    grid-area: ten;
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid red;
}


.name {
    font-weight: bold;
    text-transform: capitalize;
}

p {
    margin-top: 8px;
    text-transform: capitalize;
    color: rgb(153, 153, 153);
}

.bold {
    font-weight: 600px;
    margin-bottom: 15px;
} */


/* 
div {
    width: 200px;
    height: 200px;
    background-color: #eee;
    color: rgb(0 140 255 / 89%);
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    align-content: center;
    font-size: 40px;
    position: relative;
    left: calc((100% - 200px) /2);
    top: 350px;


    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

div::after {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    left: -20px;
    top: -20px;
    z-index: -2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-width: 20px;
    border-style: solid;
    border-color: rgb(0 140 255 / 89%) transparent rgb(0 140 255 / 89%) rgb(0 140 255 / 89%);
    transition: .5s 0.5s;
    -webkit-transition: .5s 0.5s;
    -moz-transition: .5s 0.5s;
    -ms-transition: .5s 0.5s;
    -o-transition: .5s 0.5s;
}

div::before {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: -1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: #e91224 #e91224 #e91224 white;
    transition: .5s;
}


div:hover::before,
div:hover::after {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
 */


/* :root {
    --goodcolor: rgb(0 173 103);
}

h1 {
    width: 150px;
    height: auto;
    padding: 20px;
    color: white;
    background-color: var(--goodcolor, red);
    position: relative;
    left: calc((100% - 190px) /2);
    top: 40px;
    text-align: center;


}

h1::before {
    content: '';
    width: 59px;
    height: 91px;
    color: white;
    background-color: var(--goodcolor, red);
    position: absolute;
    left: -23px;
    top: -3px;
    z-index: -1;
    transform: rotate(1deg) skew(14deg, 14deg);
    -webkit-transform: rotate(-13deg) skew(10deg, 13deg);
}

h1::after {
    content: '';
    width: 20px;
    height: 91px;
    color: white;
    background-color: var(--goodcolor, red);
    position: absolute;
    left: -50px;
    top: -3px;
    z-index: -1;
    transform: rotate(1deg) skew(14deg, 14deg);
    transform: rotate(-13deg) skew(10deg, 13deg);
} */


/*
.class {
    matrix(3, 0.2679, 0, 3, 20, 100);
} 
    transform: scalex(3);
    transform: skewy(0.2679);
    transform: skewx(0);
    transform: scaley(3);
    transform: translatex(20px);
    transform: translatey(100px);
  */


/* 
div {
    width: 200px;
    height: 200px;
    background-color: black;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    transform: rotate(37deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    position: relative;
    left: calc((100% - 200px) /2);
    top: calc((100% - 200px) /2);

}

div::before {
    content: "  Elzero";
    width: 286px;
    height: 286px;
    background-color: rgba(81, 105, 112, 0.904);
    color: white;
    border-bottom: 4px solid black;
    position: absolute;
    top: 29%;
    right: 30%;
    transform: rotate(45deg);
    z-index: -1;
    align-content: end;

}

div::after {
    content: '';
    width: 200px;
    height: 200px;
    background-color: black;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    transform: rotate(37deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    position: absolute;
    left: calc((100% - 200px) / 2);
    top: calc((100% - 200px) / 2);
    transform: rotate(0deg);
} */

/* .d-test {
    width: 200px;
    height: 200px;
    perspective: 400px;
    transform-style: preserve-3d;
    position: relative;
    top: 100px;
    left: calc((100% - 200px) /2);
    transition: 1s;
    perspective: 200px;
}

.d-test:hover {
    transform: rotatex(180deg);
    -webkit-transform: rotatex(180deg);
    -moz-transform: rotatex(180deg);
    -ms-transform: rotatex(180deg);
    -o-transform: rotatex(180deg);
}

.d-test::after {
    content: "front";
    background-color: rgb(241, 25, 25);
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    align-content: center;
    font-weight: bold;
    font-size: 30px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.d-test::before {
    content: "back";
    background-color: rgb(35, 35, 207);
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    align-content: center;
    font-weight: bold;
    font-size: 30px;
    transform: rotatex(180deg);
    -webkit-transform: rotatex(180deg);
    -moz-transform: rotatex(180deg);
    -ms-transform: rotatex(180deg);
    -o-transform: rotatex(180deg);
} */

/* 
div {
    width: 60px;
    height: 60px;
    border: 5px solid black;
    border-top-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    left: calc((100% - 50px) /2);
    top: 200px;
    animation: border 1.6s linear 0s infinite normal;
    -webkit-animation: border 1.6s linear 0s infinite normal;
    animation-play-state: paused;
}

div:hover {
    animation-play-state: running;
}

@keyframes border {
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);

    }
}

div::before {
    content: '';
    width: 46px;
    height: 46px;
    border: 5px solid rgb(255, 210, 8);
    border-top-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    animation: border 1.5s linear 0s infinite normal;
    -webkit-animation: border 1.5s linear 0s infinite normal;
    animation-play-state: inherit;
}

div::after {
    content: '';
    width: 32px;
    height: 32px;
    border: 5px solid rgb(30, 155, 238);
    border-top-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 9px;
    left: 9px;
    animation: border 1.4s linear 0s infinite normal;
    -webkit-animation: border 1.4s linear 0s infinite normal;
    animation-play-state: inherit;
}

span {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border: 5px solid black;
    border-top-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: calc((100% - 50px) /2);
    top: 300px;
    animation: circle 1s linear 0s infinite normal;
    -webkit-animation: circle 1s linear 0s infinite normal;
    background-image: url(../imgs/css-assignments-lessons-74-77-.png);
}

@keyframes circle {
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
} */

/* 
.parent {
    position: relative;
    top: 60px;
    left: calc((100% - 40%) /2);
    width: 40%;
    height: 450px;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 30px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-areas:
        "one two two two two . five . . . ."
        "one . . . . . five . . . ."
        "one . . . . . five . . . ."
        "one . . . . . five . . . ."
        "one three three three three . five . . . ."
        "one . . . . . five . . . ."
        "one . . . . . five . . . ."
        "one . . .  . . five . . . ."
        "one four four four four . six six six six six";
}

.parent::before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: orange;
    grid-row: 9;
    grid-column: 7;
    position: absolute;
    opacity: 0;
    top: 10px;
    left: 10px;
    animation: move 2s linear 3s 1 alternate;
    -webkit-animation: move 2s linear 3s 1 alternate;
    background-color: rgba(10, 25, 228, 0.637);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@keyframes move {
    7% {
        grid-column: 11;
        opacity: 100%;

    }

    14% {
        grid-column: 10;
    }

    21% {
        grid-column: 9;
    }

    28% {
        grid-column: 8;
    }

    35% {
        grid-column: 7;
    }

    42% {
        grid-row: 9;
    }

    49% {
        grid-row: 8;
    }

    56% {
        grid-row: 7;
    }

    63% {
        grid-row: 6;
    }

    70% {
        grid-row: 5;
    }

    77% {
        grid-row: 4;
    }

    82% {
        grid-row: 3;
    }

    91% {
        grid-row: 2;
    }

    92% {
        grid-row: 1;
        opacity: 100%;
    }

    95% {
        grid-row: 1;
        opacity: 80%;
    }

    98% {
        grid-row: 1;
        opacity: 50%;
    }

    100% {
        grid-row: 1;
        opacity: 0;
    }

}

.parent::after {
    content: '';
    width: 30px;
    height: 30px;
    background-color: orange;
    grid-row: 1;
    grid-column: 5;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
    animation: move2 3s linear 0s 1 alternate;
    -webkit-animation: move2 3s linear 0s 1 alternate;
    background-color: black;
}

@keyframes move2 {
    4% {
        opacity: 100%;
        grid-column: 4;
    }

    8% {
        grid-column: 3;
    }

    12% {
        grid-column: 2;
    }



    16% {
        grid-column: 1;
        grid-row: 1;
    }

    20% {
        grid-row: 2;
    }

    24% {
        grid-row: 3;
    }

    28% {
        grid-row: 4;
    }

    32% {
        grid-row: 5;
    }

    36% {
        grid-column: 1;
    }

    40% {
        grid-column: 2;
    }

    44% {
        grid-column: 3;
    }

    48% {
        grid-column: 4;
    }

    52% {
        grid-column: 5;
    }

    56% {
        grid-column: 4;
    }

    60% {
        grid-column: 3;
    }

    64% {
        grid-column: 2;
    }

    68% {
        grid-column: 1;
        grid-row: 5;
    }

    72% {
        grid-row: 6;
    }

    76% {
        grid-row: 7;
        grid-column: 1;
    }

    80% {
        grid-row: 8;
        grid-column: 1;
    }

    84% {
        grid-row: 9;
        grid-column: 1;
    }

    88% {
        grid-row: 9;
        grid-column: 2;
    }

    92% {
        grid-row: 9;
        grid-column: 3;
    }

    96% {
        grid-row: 9;
        grid-column: 4;
    }

    100% {
        grid-row: 9;
        grid-column: 5;
        opacity: 100%;
    }
}





.parent div {
    background-color: black;
    width: 100%;
    height: 100%;
    background-color: #ffffff
}


.one {
    grid-area: one;

}

.two {
    grid-area: two;

}

.three {
    grid-area: three;

}

.four {
    grid-area: four;

}

.five {
    grid-area: five;

}

.six {
    grid-area: six;

} */


/* :nth-of-type(n+3):nth-of-type(-n+5):not(div + [title]) {
    color: red;
} */
/* 
[title]:not(div [title]):not(.no-need) {
    color: red;
} */
/* body :nth-of-type(1) :nth-child(3),
:nth-of-type(2) :nth-child(4) {
    color: red;
} */
/* body :nth-of-type(1) :nth-child(5) {
    color: red;
} */
/* div :not(h3):not(:first-child):not(:last-child) {
    color: red;
} */

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;

}

.son {
    background-color: #eee;
    margin: 0 15px;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    margin-bottom: 10px;
    color: rgb(42 197 141);
    margin-top: 13px;
}

.son div {
    padding-bottom: 15px;
}

@media (max-width: 767px) {
    .parent {
        grid-template-columns: repeat(1, 1fr);
    }

    h3 {
        color: black;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .parent {
        grid-template-columns: repeat(3, 1fr);
    }

    h3 {
        color: red;
    }

    .son.one {
        grid-area: 1 / span 4;
    }
}

@media (min-width: 992px) {
    .parent {
        grid-template-columns: repeat(4, 1fr);
    }

    .son.one {
        grid-area: 1 / span 4;
    }

    .son.two {
        grid-area: 2 / span 2;
    }

    .son.three {
        grid-area: 2 / span 2;
    }

    .son.four {
        grid-area: 3 / span 4;
    }
}

.test {
    height: 50px;
    background-color: #ddd;
    margin-top: 5px;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}



.center-position {
    position: absolute;
    top: calc((100% - 50px) /2);
    left: calc((100% - 100px) /2);
}

.circle-100 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.circle-200 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.arrow {
    width: 500px;
    height: 80px;
    background-color: #ddd;
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.top::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #ddd;
    position: absolute;
    top: -10px;
    left: calc((100% - 20px) /2);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: -1;
}

.right::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #ddd;
    position: absolute;
    right: -10px;
    top: calc((100% - 20px) /2);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: -1;
}

.bottom::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #ddd;
    position: absolute;
    bottom: -10px;
    left: calc((100% - 20px) /2);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: -1;
}

.left::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #ddd;
    position: absolute;
    left: -10px;
    top: calc((100% - 20px) /2);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: -1;
}



.elzero-lines {
    width: 500px;
    height: 80px;
    font-size: 30px;
    border: 5px solid red;
    outline: 5px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    left: 200px;
    font: italic bold 30px/ 30px Arial, sans-serif;
}

.elzero-lines::before {
    content: '';
    width: 520px;
    height: 100px;
    font-size: 30px;
    border: 5px solid green;
    outline: 5px solid black;
    position: absolute;
    top: -15px;
    left: -15px;

}

.font {
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    font-family: Arial, sans-serif;
}

.input-box {
    position: relative;
    top: 82px;
    width: 250px;
    height: 60px;
    background-color: #eee;

}

.prefix {
    background-color: #00a160;
    color: white;
    font-size: 15px;
    width: 40px;
    height: 30px;
    border: 1px solid #ddd;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

[type="tel"] {
    height: 28px;
    border: 1px solid #ddd;
    outline: none;
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    caret-color: green;

}

[type="tel"]::placeholder {
    color: #9b9a9a;
}

.menu {
    width: 50px;
    height: 40px;
    background-color: #eee;
    position: relative;
    top: 100px;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.menu span {
    width: 30px;
    height: 5px;
    background-color: black;
    display: inline-block;
    border-radius: 3px;
    position: absolute;
    transition-duration: 1s;
}

.menu :nth-child(1) {
    margin-top: -15px;
}

.menu :nth-child(3) {
    margin-top: 15px;
}


.menu:hover :nth-child(1) {
    background-color: red;
    transform: rotate(45deg);
    margin-top: auto;
    transform: rotateY(180deg);
    transform: rotate3d(1, 1, 4, 147deg);
    -webkit-transform: rotate3d(1, 1, 4, 147deg);
    -moz-transform: rotate3d(1, 1, 4, 147deg);
    -ms-transform: rotate3d(1, 1, 4, 147deg);
    -o-transform: rotate3d(1, 1, 4, 147deg);
}

.menu:hover :nth-child(2) {
    left: 1px;
    opacity: 0;
}

.menu:hover :nth-child(3) {
    background-color: red;
    transform: rotate(-45deg);
    margin-top: auto;
    transform: rotate3d(1, 1, 4, -135deg);
    -webkit-transform: rotate3d(1, 1, 4, -135deg);
    -moz-transform: rotate3d(1, 1, 4, -135deg);
    -ms-transform: rotate3d(1, 1, 4, -135deg);
    -o-transform: rotate3d(1, 1, 4, -135deg);
}

[href="https://www.elzero.courses/"] {
    color: red;
}

ul.sub:not(.new-ul) {
    background-color: #eee;
    list-style: none;
    width: 500px;
    padding-left: 10px
}

ul.sub li:not(.new-ul li) {
    counter-increment: list;
    background-color: white;
    margin-top: 5px;
    padding: 10px;
    width: 472px;
}

li:not(.new-ul li)::before {
    content: counter(list);
    padding: 5px 12px;
    background-color: #ddd;
    margin-left: -3px;
    margin-right: 14px;
    font-weight: bold;
}

ul.sub li ul li:not(.new-ul li) {
    counter-increment: list-2;
    background-color: white;
    width: 440px;


}

ul.sub li ul li:not(.new-ul li)::before {
    content: "4." counter(list-2);
    background-color: #078b56;
    color: white;
    display: inline-block;
    padding: 5px;
}

ul :nth-child(4):not(.new-ul li)::before {
    background-color: white;

}

ul :nth-child(4):not(.new-ul li) {
    background-color: #ddd !important;
    padding: 15px;
    width: 462px;
}

ul.sub ul {
    margin-left: 10px;
    width: 460px;
    list-style: none;
}

ul ul:first-child {
    margin-top: 20px;
    padding-left: 0;
}

ul:first-of-type:not(ul ul:first-child) {
    padding: 8px 0px 9px 12px;
}



.url-1::after {
    content: "Name: Google | URL: https://google.com";
    display: block;
    color: white;
    background-color: #37a5ff;
    padding: 13px;
    text-decoration: none;
    border-radius: 9px;
    width: fit-content;
    margin-top: 5px;
}

.link-1::after {
    content: "Name: Elzero Academy | URL: https://elzero.org/";
    display: block;
    color: white;
    background-color: #37a5ff;
    padding: 13px;
    text-decoration: none;
    border-radius: 9px;
    width: fit-content;
    margin-top: 5px;
}

[title="Elzero Courses-1"]::after {
    content: "Name: Elzero Courses | URL: https://www.elzero.courses/";
    display: block;
    color: white;
    background-color: #37a5ff;
    padding: 13px;
    text-decoration: none;
    border-radius: 9px;
    width: fit-content;
    margin-top: 5px;
}

a {
    text-decoration: none;
    margin-top: 5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 12000px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center; */
}

.text {
    background-image: linear-gradient(to bottom, red 20%, orange 60%, yellow);
    background-clip: text;
    background-color: #ddd;
    width: fit-content;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    color: transparent;
    position: relative;
}

.text::before {
    content: '';
    width: 200px;
    height: 43px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #eee;
    z-index: -1;
}

.container-ches {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.white {
    grid-area: one;

    width: 100px;
    height: 100px;
}

.black {
    grid-area: two;
    background-color: black;

    width: 100px;
    height: 100px;
}


table.languige {
    padding: 20px;
    background-color: #eee;
}

.languige th {
    padding: 20px 45px;
    background-color: white;
    border: 1px solid #ddd;
    text-align: center;
}

.languige td {
    padding: 20px 45px;
    background-color: white;
    border: 1px solid #ddd;
    text-align: center;
}

.languige tr:hover td {
    background-color: #eee;
}

.languige td:hover {
    background-color: #eee;
    border-color: #37a5ff;
    color: #37a5ff;
}

.languige td .one-2:hover~[ title="po"] {
    background-color: #eee;
}

table.languige :nth-child(n+2):first-child:hover~tr .one {
    background-color: #eee;
}

:root {
    --namecolor: #1075fada;
    --namecolor1: #999999f0;
}

.parent-w {
    width: 1058px;
    height: 492px;
    position: relative;
    left: calc((100% - 1045px) / 2);
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    padding-top: 20px;
    justify-content: space-evenly;
    text-transform: capitalize;
    z-index: -2;
}

.caption {
    position: absolute;
    background-color: #3c90ff;
    color: white;
    width: 264px;
    padding: 11px;
    top: 21.5px;
    left: 386px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    z-index: 3;

}

.content {
    width: 335px;
    height: 435px;
    background: white;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #929292;
    font-weight: 300;
    border: 1px solid #ddd;
    padding-top: 20px;

}

.content p {
    position: relative;
}

h1 {
    color: black;
}

span.mon {
    color: var(--namecolor, black);
    font-weight: 600;
    font-size: 25px;
    position: absolute;
    top: -4px;
    left: 115px;
}

span.num {
    color: var(--namecolor, black);
    font-weight: 700;
    font-size: 40px;
}

span.first {
    color: #999999f0;
    font-weight: 600;
}

button {
    width: 100px;
    color: white;
    background-color: var(--namecolor, blue);
    font-weight: bold;
    font-size: 11px;
    padding: 13px;
    outline: none;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-top: 21px;
}

.content.two {
    position: relative;
}

.content.two::before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: #005cd3;
    position: absolute;
    top: -12px;
    left: 12px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: -1;
}

.content.two::after {
    content: '';
    width: 25px;
    height: 25px;
    background-color: #005cd3;
    position: absolute;
    top: -12px;
    right: 12px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: -1;
}

.parent-rad {
    background-color: #eee;
    width: 665px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: space-evenly;
    justify-items: center;
    padding: 0 30px;
    position: relative;
    left: calc((100% - 695px) /2);
}

.small-father {
    background-color: white;
    width: 180px;
    height: 108px;
    border-radius: 8px;
    box-shadow: 3px 2px 10px #b1b1b1;
    position: relative;
    padding: 15px;
    color: var(--namecolor1, black);
    font-size: 16px;
}

.small-father:hover {
    border: 2px solid #005bd3b2;
}

.rad label {
    color: rgb(0 0 0 / 70%);
    font-weight: bold;
    font-size: 18px;
}

input[id="rad-2"],
input[id="rad-3"],
input[id="rad"] {
    display: none;

}

input[id="rad-2"]:checked+span.radio,
input[id="rad-3"]:checked+span.radio,
input[id="rad"]:checked+span.radio {
    background-color: #005bd3e5;
}

span.radio {
    width: 17px;
    height: 17px;
    background-color: #ddd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

span.numper {
    color: black;
    font-size: 37px;
    font-weight: 600;
}

span.gega {
    color: black;
    font-size: 25px;
    font-weight: 600;
}

span.price {
    color: #000000bd;
    font-size: 17px;
    font-weight: 600;
}

.camera {
    width: 700px;
    height: 500px;
    background-color: #eee;
    position: relative;
    left: calc((100% - 700px) /2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
}

.body {
    width: 550px;
    height: 350px;
    background-color: #d5d5d5;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tape {
    width: 550px;
    height: 180px;
    background-color: #386d85ed;
    z-index: 3;
    position: absolute;
}

.lens {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #20a5d5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 4;
    position: absolute;
    border: 32px solid #2b2b2b;
    outline: 20px solid #b5b3b3;
    box-shadow: 1px 0px 0px 36px #ddd, 0px 0px 11px 38px #797979;
}

.lens::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #6ebeff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 19px;
    left: 19px;
}

.top-c {
    position: absolute;
    top: 67px;
    left: 101px;
}

.top-c .button {
    width: 57px;
    height: 13px;
    border-top-left-radius: 41px;
    border-top-right-radius: 41px;
    background-color: #386d85ed;
    position: absolute;
    top: -5px;
    left: 2px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.red {
    width: 38px;
    height: 4px;
    background-color: rgb(211 0 0);
    position: absolute;
    top: -9px;
    left: 11px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.top-c .big {
    width: 102px;
    height: 40px;
    background-color: #386d85;
    position: absolute;
    top: -32px;
    left: 198px;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-c .big::before {
    content: '';
    width: 40px;
    height: 53px;
    background-color: #386d85;
    position: absolute;
    top: 8px;
    left: -14px;
    transform: rotate(33deg);
    z-index: -1;
    border-radius: 5px;
}

.top-c .big::after {
    content: '';
    width: 40px;
    height: 53px;
    background-color: #386d85;
    position: absolute;
    top: 8px;
    right: -14px;
    transform: rotate(-33deg);
    z-index: -1;
    border-radius: 5px;
    -webkit-transform: rotate(-33deg);
    -moz-transform: rotate(-33deg);
    -ms-transform: rotate(-33deg);
    -o-transform: rotate(-33deg);
}

.small {
    width: 82px;
    height: 21px;
    background-color: #d5d5d5;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.too-small {
    width: 32px;
    height: 11px;
    background-color: #386d85ed;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.pro {
    background-color: #eee;
    color: white;
    text-shadow:
        -1px 1px #6b05be,
        2px 1px #6b05be,
        -1px -1px #6b05be,
        2px -1px #6b05be;
    word-spacing: 1px;
    letter-spacing: 1px;

}

table.company {
    padding: 20px 20px 67px;
    background-color: #eee;
    position: relative;
}

.company caption {
    position: absolute;
    bottom: 21px;
    background-color: #ddd;
    width: 96.3%;
    height: 46px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.company td:not(tfoot td) {
    background-color: white;
    padding: 13px 42px;
    font-size: 17px;
}

.company th {
    background-color: #ddd;

    padding: 13px 42px;
}

tfoot td:not(:first-child) {
    background-color: #37a5ff;
    font-weight: bold;
    font-size: 17px;
    color: white;
    padding: 13px 42px;
}

tfoot :first-child {
    background-color: rgb(255, 255, 55);
    font-weight: bold;
    font-size: 17px;
    padding: 13px 42px;
}

td {
    text-align: center;
}

.hard-text {
    column-count: 3;
    column-gap: 82px;
    width: 964px;
    height: 171px;
    line-height: 31px;
    column-rule: 2px dashed;
    outline: 31px solid #eee;
    border: 15px solid white;
    margin: 76px;
}

.new-ul {
    list-style: none;
    background-color: #eee;
    width: 456px;
    height: 450px;
    padding: 18px;
    counter-reset: list-counter 10;
}

.new-ul li {
    background-color: white;
    padding: 25px;
    margin: 1px;
    counter-increment: list-counter 3;
    position: relative;
}

.new-ul li::before {
    content: "(" counter(list-counter)")";
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: calc((100% - 50px) /2);

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 16px;
}

.new-ul :nth-child(1)::before,
:nth-child(3)::before,
:nth-child(5)::before {
    background-color: #b200d6;
}

.new-ul :nth-child(2)::before,
:nth-child(4)::before,
:nth-child(6)::before {
    background-color: #e04903;
}

:root {
    --border: 10px;
}

.color-box {
    width: 500px;
    height: 50px;
    background-color: #eee;
    box-shadow:
        0 0 0px calc(var(--border) * 1) #eeff00,
        0 0 0px calc(var(--border) * 2) red,
        0 0 0px calc(var(--border) * 3) purple,
        0 0 0px calc(var(--border) * 4) rgb(2, 177, 2),
        0 0 0px calc(var(--border) * 5) rgb(9, 58, 192),
        0 0 0px calc(var(--border) * 6) #3b3535,
        0 0 0px calc(var(--border) * 7) rgb(255, 217, 0),
        0 0 0px calc(var(--border) * 8) green,
        0 0 0px calc(var(--border) * 10) #eee;
    position: relative;
    top: 100px;
    left: calc((100% - 500px) /2);

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.aycon {
    width: 150px;
    height: 50px;
    font-weight: bold;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent orangered black orangered;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    background: white;
    box-shadow: 0px 21px 0 -10px orangered;
    position: relative;
}

.aycon::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: white;
    border: 4px solid orangered;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: -30px;
    top: calc((100% - 28px) / 2);
}

.aycon::after {
    content: '';
    width: 20px;
    height: 20px;
    background-color: white;
    border: 4px solid orangered;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    right: -30px;
    top: calc((100% - 28px) / 2);
}


.portrea {
    width: 1010px;
    height: 775px;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(4, 232px);
    grid-template-rows: repeat(3, 238px);
    grid-template-areas:
        "one two three three"
        "one four five seven"
        "six four eight eight";
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 8px;
    margin: 40px 0 0 100px;

}

[alt="game-1"] {
    grid-area: six;
    width: 100%;
    height: 100%;
    border-radius: 17px;
}

[alt="game-2"] {
    grid-area: two;
    width: 100%;
    height: 100%;
    border-radius: 17px;
}

[alt="game-3"] {
    grid-area: three;
    width: 100%;
    height: 100%;
    border-radius: 17px;
}

[alt="game-4"] {
    grid-area: four;
    width: 100%;
    height: 100%;
    border-radius: 17px;
}

[alt="game-5"] {
    grid-area: five;
    width: 100%;
    height: 100%;
    border-radius: 17px;
}

[alt="game-6"] {
    grid-area: one;
    width: 100%;
    height: 100%;
    border-radius: 17px;
}

[alt="game-7"] {
    grid-area: seven;
    width: 100%;
    height: 100%;
    border-radius: 17px;
}

[alt="game-8"] {
    grid-area: eight;
    width: 100%;
    height: 100%;
    border-radius: 17px;
}

.the-grid {
    width: 384px;
    height: 530px;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(14, auto);
    grid-template-areas:
        "one one two three three"
        "one one two three three"
        "one one four four four"
        "one one four four four"
        "five five four four four"
        "five five four four four"
        "six six six six seven"
        "six six six six seven"
        "eight nine nine nine ten"
        "eight nine nine nine one-1"
        "eight nine nine nine one-2"
        "one-3 one-3 one-3 one-3 one-3"
        "one-4 one-4 one-5 one-5 one-5"
        " one-6 one-7 one-8 one-9 one-10";
    row-gap: 12px;
    column-gap: 12px;
    padding: 15px;
    position: relative;
    top: 10px;
    left: calc((100% - 384px) /2);
}

.the-grid div {
    counter-increment: moor;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.the-grid div::after {
    content: counter(moor);
    font-weight: bold;
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.the-grid :nth-child(1) {
    grid-area: one;
}

.the-grid :nth-child(2) {
    grid-area: two;
}

.the-grid :nth-child(3) {
    grid-area: three;
}

.the-grid :nth-child(4) {
    grid-area: four;
}

.the-grid :nth-child(5) {
    grid-area: five;
}

.the-grid :nth-child(6) {
    grid-area: six;
}

.the-grid :nth-child(7) {
    grid-area: seven;
}

.the-grid :nth-child(8) {
    grid-area: eight;
}

.the-grid :nth-child(9) {
    grid-area: nine;
}

.the-grid :nth-child(10) {
    grid-area: ten;
}

.the-grid :nth-child(11) {
    grid-area: one-1;
}

.the-grid :nth-child(12) {
    grid-area: one-2;
}

.the-grid :nth-child(13) {
    grid-area: one-3;
}

.the-grid :nth-child(14) {
    grid-area: one-4;
}

.the-grid :nth-child(15) {
    grid-area: one-5;
}

.the-grid :nth-child(16) {
    grid-area: one-6;
}

.the-grid :nth-child(17) {
    grid-area: one-7;
}

.the-grid :nth-child(18) {
    grid-area: one-8;
}

.the-grid :nth-child(19) {
    grid-area: one-9;
}

.the-grid :nth-child(20) {
    grid-area: one-10;
}

.parent-back {
    width: fit-content;
    height: fit-content;
    background-color: #eee;
    padding: 20px;
    position: relative;
    left: calc((100% - 855px) /2);
}

.target {
    width: 805px;
    height: 280px;
    background-color: white;
    z-index: -2;
    padding: 25px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.target .list {
    margin-bottom: 32px;
}

.target .title {
    color: #8d8d8d;
}

.target p {
    font-weight: bold;
    margin-bottom: -19px;
    margin-top: 13px;
}

.target .percent {
    position: relative;
    width: 40px;
    height: 20px;
    color: white;
    font-size: 15px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.target .percent::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -5px;
    left: calc((100% - 10px) /2);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: -1;
}

.target :nth-child(1) .percent {
    left: 77%;
}

.target :nth-child(1) .percent,
.target :nth-child(1) .percent::before {
    background-color: #2886ff;

}

.target :nth-child(2) .percent {
    left: 52%;
}

.target :nth-child(2) .percent,
.target :nth-child(2) .percent::before {
    background-color: orange;
}

.target :nth-child(3) .percent {
    left: 72%;
}

.target :nth-child(3) .percent,
.target :nth-child(3) .percent::before {
    background-color: rgb(2, 199, 2);
}

.target :nth-child(1) .line {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right, #2886ff, #2886ff 80%, #eee 80%, #eee 100%);
    position: relative;
    top: 12px;
}

.target :nth-child(2) .line {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right, orange, orange 55%, #eee 55%, #eee 100%);
    position: relative;
    top: 12px;
}

.target :nth-child(3) .line {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right, rgb(2, 199, 2), rgb(2, 199, 2) 75%, #eee 75%, #eee 100%);
    position: relative;
    top: 12px;
}

.login {
    width: auto;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    grid-template-areas: "put put medil next next";
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.parent-back .title-log {
    font-size: 27px;
    font-weight: bold;
    color: white;
    background-color: #2886ff;
    height: 65px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login form {
    grid-area: put;
}

.login .medil {
    grid-area: medil;
}

.login .links {
    grid-area: next;
}

.login label {
    margin: 20px 15px 10px 20px;
    display: inline-block;
    color: #939292;
    font-size: 18px;
}

.login input:not([type="submit"]) {
    width: 224px;
    height: 35px;
    background-color: #fffaf7db;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 20px;
    caret-color: #2886ff;
    padding-left: 8px;
}

.login input[type="submit"] {
    width: 236px;
    height: 40px;
    color: white;
    background-color: #2886ff;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 20px 0px 20px 20px;
    font-size: 15px;
}

.login .medil {
    height: 209px;
    width: 2px;
    background-color: #ddd;
    margin: 28px 40px;
    position: relative;

}

.login .medil::before {
    content: "Or";
    padding: 10px;
    background-color: white;
    color: #8f8f8f;
    position: absolute;
    left: -21px;
    top: calc((100% - 43px) / 2);
}

.login .capt {
    text-align: center;
    color: #8f8f8f;
    font-size: 18px;
    margin-top: 18px;
}

.log-1 {
    text-decoration: none;
    width: 246px;
    height: 41px;
    color: white;
    background-color: #2886ff;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 18px 20px 20px 0px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-2 {
    text-decoration: none;
    width: 246px;
    height: 41px;
    color: white;
    background-color: #32a9f9;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 22px 20px 20px 0px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-3 {
    text-decoration: none;
    width: 246px;
    height: 41px;
    color: white;
    background-color: #2a8acb;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 22px 20px 20px 0px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}